.body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.heading1{
    font-size: 2.5rem;
}

.container-fluid{
    width: 1080px;
}

.bckgrdimg{
    width: 1050px;
}

.bckgrdimg2{
    width: 1050px;
    height: 30rem;
}

.mycontainer{
    position: relative;
    text-align: center;
}

.mycontainer2{
    position: relative;
    text-align: center;
    margin-top: 4rem;
}

.centered{
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }
  
.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
    margin-right: 2rem;
  }

.navbar-brand{
    color: white;
    font-size: 4rem;
}

.navstyle{
    color: white;
    font-size: 1.5rem;
    margin-top: 3rem;
    margin-left: 2rem;
}

.navstyle:hover {
    color:goldenrod;
  }

.text_text{
    margin-top: 3rem;
}

.mouse_click{
    margin-top: 18rem;
}

.section_one{
    height: 8rem;
    background-color: #c8c6a7;
}

.checkbox_style{
    margin-left: 4rem;
    margin-right: 1rem;
    margin-top: 3rem;
    font-size: 2rem;
}

.check_btn{
    background-color: rgb(65, 4, 4);
    color: white;
    margin-left: 18rem;
}

.check_btn:hover{
    color: goldenrod;
}

/* Styling for color dots */
.dot {
    height: 20px;
    width: 20px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }

#green{
    background-color: green;
}

#blue{
    background-color: blue;
}

#black{
    background-color: black;
}

#pink{
    background-color: pink;
}

#white{
    background-color: white;
}

  
/*Styling for image cards */

.card {
    width: 18.5rem;
    height: 24rem;
    background-color: #f3f4ed;
    margin-top: 1rem;
    margin-left: 3rem;
    padding: 1rem;
}

.card:hover{
    border-width: 4px;
    border-color:#ad8d49;
}

.card-body{
    text-align: center;
}

.card-footer{
    font-size: 14px;
    background: transparent;
    border: none;
}

.card-header{
    background: transparent;
    border: none;
}

.align-right{
    text-align: right;
    font-size: 12px
}

.align-left{
    text-align: left;
    font-size: 12px;
    color: #cc8400;
}


.heading-style{
    margin-top: 1rem;
}
  
.previous {
    border: none;
    color:#ad8d49;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

.previous1 {
    border: none;
    color:#ad8d49;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

.next {
    border: none;
    color:#ad8d49;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    margin-right: 1rem;
}

.next1 {
    border: none;
    color:#ad8d49;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    margin-left: 1rem;
}

.navtxt{
    color:#ad8d49;
    font-weight: bold;
    margin-left: 1.2rem;
    margin-top: 0.5rem;
}



.round {
border-radius: 50%;
}

/* Styling for horizontal title lines*/

.hr-title-men {
    font-size: 20px;
    font-family: Arial;
    position: relative;
    overflow: hidden;
    text-align:left;
    margin: 2rem;
}

.hr-title-women{
    font-size: 20px;
    font-family: Arial;
    position: relative;
    overflow: hidden;
    text-align:right;
    margin: 2rem;
}

.hr-title-men:before {
    display: inline-block;
    content: "";
    height: 2px;
    background: grey;
    position: absolute;
    width: 100%;
    top: 50%;
    margin-top: -2px;
    margin-left: 8rem;
  }

.hr-title-women:before {
    display: inline-block;
    content: "";
    height: 2px;
    background: grey;
    position: absolute;
    width: 90%;
    top: 50%;
    margin-top: -2px;
    margin-left: -60rem;
}

fieldset{
    border:  #ad8d49  2px solid;
    height: 15rem;
    width: 40rem;
}

legend{
    background-color: transparent;
    width: 10rem;
    font-size: large;
}

.abttxt{
    font-size: x-large;
    padding: 1rem;
    margin: 0.5rem;
}

.mycontainer3{
    background-color: #536162;
    position: relative;
    text-align: center;
    width: 1052px;
    height: 5rem;
    color: white;
    font-size: 18px;
    margin-left: 0.9rem;
}

.mycontainer4{
    position: relative;
    text-align: center;
    background-color: #302e2e;
    color: white;
    width: 1052px;
    height: 18rem;
    margin-left: 14px;
}

.part-one{
    text-align: left;
    margin-top: 5rem;
}

.part-two{
    text-align: center;
    margin-top: 3rem;
}

.part-three{
    text-align: center;
    margin-top: 7rem;
}

.iconimg{
    height: 4rem;
    width: 4rem;
    padding: 0.5rem;
}

.icondiv{
    text-align: center;
    display: block;
}

.copyright{
    font-size: 14px;
    margin-left: 25rem;
    margin-top: 2rem;
}

